.header {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF2A8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    transition: 0.5s;
}

.hide {
    top:-70px;
}


.logo img{
    width: 150px;
}

.navbar {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.navigation ul li a {
    text-decoration: none;
    color: #111;
    position: relative;
    font-weight: 500;
    padding: 0 10px;
    border-radius: 100px;
    font-size: 1.2rem;
    align-items: center;
    transition: .5s;
}

.buttonPartner a {
    padding: 5px 20px;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    border: 2px solid #111;
    color: #111;
    font-weight: 500;
    border-radius: 200px;
    transition: .5s;
}

.buttonPartner a:focus {
    color: white;
    background-color: #111;
}

.mobilePartner {
    display: none;
    gap: 2rem;
}

.menuButtonWrapper {
    display: none;
    justify-content: flex-end;
    padding-bottom: .2rem;
    align-items: center;
}

.menuButton {
    position: relative;
    width: 50px;
    height: 50px;
	background-color: rgb(248, 217, 60);
	color: rgb(109, 100, 56);
    border: 0;
	outline: 0;
    display: none;
    justify-content: center;
    align-items: center;
    gap: -40px;
	border-radius: 10px;
    gap: 0;
	font-weight: 400;
	text-align: center;
	font-size:20px;
	cursor: pointer;
}


.menuButton:disabled {
	opacity: 0.5;
	cursor:auto;
	box-shadow: none;
	border: 0;
}

.mobileNav {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bars {
    width: 25px;
    height: 3px;
    border-radius: 20px;
    box-shadow: 0px -8px 0px 0px #111;
    background-color: #111;
    transition: 0.5s;
}
.bars::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 68%;
    transform: translate(-50%,-50%);
    width: 25px;
    height: 3px;
    display: inline-block;
    border-radius: 20px;
    background-color: #111;
    transition: 0.5s;
}

.ex::before {
    top: 50%;
    transform: translate(-50%,-50%) rotate(95deg) !important;
}

.ex {
    box-shadow: none;
    transform: rotate(-47deg) !important;
}


@media screen and (max-width: 1193px){

    .logoWrapper {
        flex: 3;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .mobilePartner {
        display: flex;
        justify-content: center;
    }
    
    .mobileNav {
        width: 100%;
    }


    .menuButtonWrapper {
        display: flex;
    }

    .mobileMenu {
        display: flex;
    }

    .menuButton {
        display: flex;
    }
    .navigation ul {
        position: absolute;
        top: 69px;
        height: 350px;
        left: 0;
        width: 100%;
        background: #FFF2A8;
        display: flex;
        gap: 0;
        padding: 0 !important;
        flex-direction: column;
        transition: 0.5s;
        overflow: hidden;
    }

    .navigation {
        padding: 0;
    }

    .hide {
        top:-70px;
    }


    .header {
        padding: .2rem 0;
    }

    
    .navigation ul li a {
        text-decoration: none;
        color: #111;
        width: 100%;
        font-weight: 500;
        padding: 15px 0;
        border-radius: 0;
        font-size: 1.2rem;
        text-align: center;
        align-items: center;
        transition: .5s;
    }

    .navigation ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      
    }



    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .buttonPartner a {
        display: none;
    }
}
