.adoptContent {
    width: 100%;
    height: calc(100% - 60px);
     overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #CBCC64 #B6BEC0;
}

  /* Chrome, Edge and Safari */
  .adoptContent::-webkit-scrollbar {
    height: 11px;
    width: 11px;
  }
  .adoptContent::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #B6BEC0;
  }
  
  .adoptContent::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  .adoptContent::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  .adoptContent::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #CBCC64;
  }
  
  .adoptContent::-webkit-scrollbar-thumb:hover {
    background-color: #CBCC64;
  }
  
  .adoptContent::-webkit-scrollbar-thumb:active {
    background-color: #CBCC64;
  }


.adoptWrapper {
    display: grid;
    padding: 30px 2px;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 1250px) {

  .adoptWrapper {
    display: grid;
    padding: 30px 2px;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
  
}

@media screen and (max-width: 995px) {

  .adoptWrapper {
    display: grid;
    padding: 30px 2px;
    height: 100%;
    grid-template-columns: 1fr;
    gap: 20px;
}
  
}
