.donationPainel {
    width: 100%;
    border-radius: 20px;
    height: calc(100% - 1px);
    display: flex;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
}

.PainelDonationWrapper {
    padding: 30px 0;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.form {
    position: relative;
    width: 50%;
    height: calc(100% - 1px);
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.formButtons {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.donationValue h1{
    color: #000;    
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
}

.donationInput {
    width: 100%;
    padding: 20px 2%;
    border-radius: 10px;
    border: 1px solid #4A4A4A;
    background: #EEE;
    outline: 0;
}

.donationImage {
    width: 50%;
    height: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/abea-project.appspot.com/o/wallpapers%2Fdonation.jpg?alt=media&token=1317541f-0fed-444a-bfc8-1562e54a6b1d');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.loading i {
    color: #242218;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    background-color: #FFF2A8;
    font-size: 60px;
}

.loading p {
    padding: 0 30px;
    color: #242218;
    font-size: 18px;
    text-align: center;
    font-weight: initial;
}

.fecharPopup {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 100px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
}

.fecharPopup i {
    width: initial;
    height: initial;
    background: transparent !important;
    font-size: 30px !important;
}


.fecharPopup:hover {
    background-color: #d8d8d8;

}


@media screen and (max-width: 1000px) {

    .donationPainel {
        width: 100%;
        border-radius: 20px;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        background-color: white;
        overflow: hidden;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
    }

    .form {
        position: relative;
        width: 100%;
        height: auto;
        padding: 40px 25px;
        display: flex;
        align-items: center;
    }
    
    .donationImage {
        width: 100%;
        height: 50vh;
        background-image: url('https://firebasestorage.googleapis.com/v0/b/abea-project.appspot.com/o/wallpapers%2Fdonation.jpg?alt=media&token=1317541f-0fed-444a-bfc8-1562e54a6b1d');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .PainelDonationWrapper {
        padding: 30px 0;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    

    
    
    
}