.wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.label {
	padding-top: 15px;
	font-size: 20px;
	color: #111;
}

.input {
	width: 100%;
	padding: 15px 20px;
	color: #474747;
	border-radius: 8px;
	background: #DDD;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
	border: 0;
	font-size: 20px;
	outline:0;
}

.inputError {
	background: #f7afaf;
	box-shadow: 0px 0px 1px 1px rgba(126, 0, 0, 0.25);
}

.error {
	color: red;
	font-size: 16px;
}