.header {
	width: 340px;
	height: 100vh;
	background-color: #494531;
}

.navbar {
	display: flex;
}

.headerUser {
	padding: 20px 10px;
	width: 97px;
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-shadow: -1px 0px 4px 0px rgba(0, 0, 0, 0.60);
}

.buttonUser {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1000px;
	background: #DED192;	
	border: 0;
	outline: 0;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 77px;
	font-size: 30px;
	color: #242218;
}

.buttonUser:hover {
	background: #f0e29d;	
}

.userMenu {
	overflow: hidden;
	width: 230px;
	background: #2F2C1F;
	text-align: center;
	border-radius: 8px;
}

.userMenu ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	font-size: 16px;
}

.userMenu ul li {
	color: white;
	padding: 5px 0;
	cursor: pointer;
}


.userMenu ul li a{
	width: 100%;
	color: white;
	padding: 0 !important;
	background: transparent !important;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}



.userWelcome {
	cursor:default !important;
	background: #DED192 !important;
	color: #2F2C1F !important;	
}

.userMenu ul li:hover {
	background: #423e2c;
}

.show {
	display: none;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background: #DED192;	
	border: 0;
	outline: 0;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 77px;
	font-size: 40px;
	text-decoration: none;
	color: #242218;
}

.navigation {
	padding-bottom: 20px;
	width: 243px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.navigation ul {
	width: 100%;
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

.navigation ul li {
	width: 100%;
}

.navigation ul li a{
	width: 100%;
	display: flex;
	align-items: center;
	vertical-align: middle;
	font-weight: 400;
	align-content: center;
	gap: 7px;
	color: rgba(202, 202, 202, 1);
	text-decoration: none;
	padding: 15px 23px;
}

.navigation ul li a:hover{
	background-color: #3b3827;
}


.navbarTitle {
	padding: 21px 23px;
	font-size: 20px;
	color: #A59A65;
	font-weight: 500;
	letter-spacing: 1px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.pagination {
	background: #2F2C1F;
	color: #FFF !important;
}


.buttonMobile {
	display: none;
}

	
.menuActive {
	left: 0 !important;
}


@media screen and (max-width: 1300px) {

	.header {
		width: auto;
		height: auto;
		background: transparent;
	}

	.buttonWrapper {
		position: fixed;
		top: 40px;
		right: 15px;
	}

	.buttonMobile {
		position: relative;
		width: 50px;
		height: 50px;
		background-color: rgb(248, 217, 60);
		color: rgb(109, 100, 56);
		border: 0;
		outline: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: -40px;
		border-radius: 10px;
		gap: 0;
		font-weight: 400;
		text-align: center;
		font-size:20px;
		cursor: pointer;
	}

	.bars {
		width: 25px;
		height: 3px;
		border-radius: 20px;
		box-shadow: 0px -8px 0px 0px #111;
		background-color: #111;
		transition: 0.5s;
	}
	.bars::before {
		content: '';
		position: absolute;
		left: 50%;
		top: 68%;
		transform: translate(-50%,-50%);
		width: 25px;
		height: 3px;
		display: inline-block;
		border-radius: 20px;
		background-color: #111;
		transition: 0.5s;
	}


	.navbar {
		z-index: 1001;
		position: fixed;
		top: 0;
		left: -340px;
		width: 340px;
		height: 100vh;
		background-color: #494531;
		transition: 0.5s;
	}

	.ex::before {
		top: 50%;
		transform: translate(-50%,-50%) rotate(95deg) !important;
	}
	
	.ex {
		box-shadow: none;
		transform: rotate(-47deg) !important;
	}

	
	.logo {
		display: none;
	}

	.buttonUser {
		border-radius: 10px;
	}

	.navigation {
		padding-bottom: 20px;
		width: 243px;
		height: 100vh;
		display: flex;
		gap: 20px;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}




	
}